.bs-header .navbar .offcanvas-body .navbar-nav .nav-item .nav-link,
.nav-link {
  color: #fff;
  padding: 10px 0;
  position: relative;
  font-family: 'Sora', sans-serif;
  font-size: 16px;
  text-decoration: none;
  border: none;
}

@media screen and (min-width: 767px) {
  .bs-header .navbar .offcanvas-body .navbar-nav .nav-item .nav-link::after,
  .nav-link::after {
    content: '';
    display: block;
    background: linear-gradient(90deg, #d33851 0%, #063533 100%);
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 5px;
    transition: width 0.5s ease;
    pointer-events: none;
  }

  .bs-header .navbar .offcanvas-body .navbar-nav .nav-item .nav-link:hover::after,
  .nav-link:hover::after {
    width: 100%;
  }
}
